<Html>
    <meta>
    <head>

    </head>
         <h1>@TempData["message"]</h1>
        <div align="center"><h1>Welcome To Cab System</h1></div><br><br>
          <div align="center"><h4><i><u>@TempData["BookingMessage"]</u></i></h4></div><br><br>
        <div align="center"><a href="/home/UserSelction">Cab Service</a></div>
       <body>
        
       </body>
</Html>
